
.input-group,
.chip-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
}
.input-group.row-group {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.input-group select {
    padding: 10px; 
    font-size: 15px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background: #fafafa;
    width: 100%;
    color: #333;
}
.input-group label {
    font-weight: bold;
    font-size: 13px;
    color: #666;
}
